.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
.codex
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/

# Local dev files
opencode-dev
test_deep/
UPCOMING_CHANGELOG.md
logs/
*.bun-build
bun.lock
tsconfig.tsbuildinfo
opencode.exe

artifacts/
.temp/
.opencode/data
.tst/
.opencode/project.db
packages/opencode/.opencode/data/opencode.db
docs/opencode.db.sql
bin/
bin_tst/
dist/
.adid_rag/
*.adid.log.jsonl
*.backup_*
*.baseline
artifacts/
packages/enterprise/.opencode/